<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,links)">
<title th:replace="${title}">레이아웃 타이틀</title>

<!-- 추가 -->
<th:block th:replace="${links}" />

<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript">
	$(function(){
		console.log("ready....");
		$(".deleteOK").each(function(){
			$(this).click(function(){
				console.log("click....");
				let result = confirm("정말 삭제하시겠습니까?");
				console.log("result....",result);
				if(result) return true;
				return false;
			});
		});
	});
</script>
</head>
